# =====================
# Haskell / Stack
# =====================
.stack-work/
dist-newstyle/
dist/          # 如果有其他 build output
*.hi
*.o
*.exe
*.out
*.log

# =====================
# PureScript
# =====================
output/
.generated/
.purs-repl
bower_components/
psc-package.json

# =====================
# Node / Electron
# =====================
node_modules/
dist/          # Electron 打包輸出
out/           # Electron build folder
*.env          # 環境變數檔

# =====================
# Editor / OS
# =====================
.DS_Store
*.swp
.idea/
.vscode/

temp/